doctype html

form([formGroup]="form", (ngSubmit)="submit()")
  h1 Market view
  .flex
    .form-field
      label Dates
      input(matInput, type="text",
        (dateChange)="form.get('dateFrom').setValue(formatDateISO($event.value))",
        [matDatepicker]="dateFromEl",
        [value]="form.get('dateFrom').value",
        (click)="dateFromEl.open()"
      )
      mat-datepicker(#dateFromEl)

    .form-field
      label &nbsp;
      input(matInput, type="text",
        (dateChange)="form.get('dateTo').setValue(formatDateISO($event.value))",
        [matDatepicker]="dateToEl",
        [value]="form.get('dateTo').value",
        (click)="dateToEl.open()"
      )
      mat-datepicker(#dateToEl, [disabled]="false")
  
    .form-field
      label Team
      .input-box
        input(type="text", formControlName="teamName", [matAutocomplete]="autocompleteTeam", (input)="setPending(form.get('teamName').value!='')")
        .clear(*ngIf="form.get('teamName').value", (click)="form.get('teamName').reset(); form.get('teamId').reset();") × 
        mat-autocomplete(#autocompleteTeam="matAutocomplete", (optionSelected)="setPending(false)")
          mat-option(
          *ngFor="let team of teamsAutocomplete | async",
          [value]="team.name",
          [title]="team.name",
          (onSelectionChange)="form.get('teamId').setValue(team.id)"
          ) {{ team.name }}
    
    .form-field
      label League
      .input-box
        input(type="text", formControlName="leagueName", [matAutocomplete]="autocompleteLeague", (input)="setPending(form.get('leagueName').value!='')")
        .clear(*ngIf="form.get('leagueName').value", (click)="form.get('leagueName').reset(); form.get('leagueId').reset()") × 
        mat-autocomplete(#autocompleteLeague="matAutocomplete", (optionSelected)="setPending(false)")
          mat-option(
            *ngFor="let league of leaguesAutocomplete | async",
            [value]="league.name",
            [title]="league.name",
          ) {{ league.name }}


.grid
  .grid-row
    .grid-column
      h2 Top scores
      hr
      
      .player(*ngFor="let item of topPlayerGoals$ | async")
        .value {{ item.goals_count || item.player.goals_count }}
        a.avatar([routerLink]="['/player', item.player.id]")
          img(src="https://tmssl.akamaized.net/{{item.player.avatar}}")
        .info
          a.name([routerLink]="['/player', item.player.id]") {{ (item.player.first_name || "") + " " + item.player.last_name }}
          a.team(*ngIf="item.player.team", [routerLink]="['/team', item.player.team.id]")
            img(src="https://tmssl.akamaized.net/{{item.player.team.preview }}")
            small {{ item.player.team.name }}
      .not-found(*ngIf="(topPlayerGoals$ | async)?.length == 0")
        mat-icon error_outline
        div No players found
      ng-template(*ngIf="topPlayerGoals$ | async; else topGoalsPlayersLoading")
      ng-template(#topGoalsPlayersLoading)
        mat-spinner

    .grid-column
      h2 Top assists
      hr
      .player(*ngFor="let item of topPlayerAssists$ | async")
        .value {{ item.assists_count || item.player.assists_count }}
        a.avatar([routerLink]="['/player', item.player.id]")
          img(src="https://tmssl.akamaized.net/{{item.player.avatar}}")
        .info
          a.name([routerLink]="['/player', item.player.id]") {{ (item.player.first_name || "") + " " + item.player.last_name }}
          a.team(*ngIf="item.player.team", [routerLink]="['/team', item.player.team.id]")
            img(src="https://tmssl.akamaized.net/{{item.player.team.preview }}")
            small {{ item.player.team.name }}
      .not-found(*ngIf="(topPlayerAssists$  | async)?.length == 0")
        mat-icon error_outline
        div No players found
      ng-template(*ngIf="topPlayerAssists$ | async; else topAssistsPlayersLoading")
      ng-template(#topAssistsPlayersLoading)
        mat-spinner

    .grid-column
      h2 Top views
      hr
      .player(*ngFor="let item of topPlayerViews$ | async")
        .value {{ item.player.views || 0 }}
        a.avatar([routerLink]="['/player', item.player.id]")
          img(src="https://tmssl.akamaized.net/{{item.player.avatar}}")
        .info
          a.name([routerLink]="['/player', item.player.id]") {{ (item.player.first_name || "") + " " + item.player.last_name }}
          a.team(*ngIf="item.player.team", [routerLink]="['/team', item.player.team.id]")
            img(src="https://tmssl.akamaized.net/{{item.player.team.preview }}")
            small {{ item.player.team.name }}
      .not-found(*ngIf="(topPlayerViews$ | async)?.length == 0")
        mat-icon error_outline
        div No players found
      ng-template(*ngIf="topPlayerViews$ | async; else topViewsPlayersLoading")
      ng-template(#topViewsPlayersLoading)
        mat-spinner
  
  .grid-row
    .grid-column
      h2 Largest transfers
      .player.transfers(*ngFor="let transfer of largestTransfers$ | async")
        a.avatar([routerLink]="['/player', transfer.player.id]")
          img(src="https://tmssl.akamaized.net/{{ transfer.player.avatar }}")
        .name
          a(*ngIf="transfer.left_team", [routerLink]='["/team", transfer.left_team.id]') {{ transfer.left_team.name }}
          | >>>
          a(*ngIf="transfer.join_team", [routerLink]='["/team", transfer.join_team.id]') {{ transfer.join_team.name }}

        .transfer
          small.date {{ formatDateISO(transfer.date) | date | uppercase }}
          .name {{ transfer.left_team?.name }} >>> {{ transfer.join_team?.name }}
        .mv(title="transfer.mv") mv: £{{ (transfer.mv || 0) | short_number}}
        .fee fee: £{{ (transfer.fee || 0) | short_number }}

      .not-found(*ngIf="(largestTransfers$ | async)?.length == 0")
        mat-icon error_outline
        div No transfers found
      ng-template(*ngIf="largestTransfers$ | async; else largestTransfersLoading")
      ng-template(#largestTransfersLoading)
        mat-spinner 

  .grid-row
    .grid-column
      h2 Latest games
      .game(*ngFor="let game of lastestGames$ | async")
        ng-container(*ngIf="game.teams[0]")
          a.team([routerLink]='["/team", game.teams[0].id]')
            img(src="https://tmssl.akamaized.net/{{game.teams[0].preview }}")
        ng-container(*ngIf="!game.teams[0]")
          .team
            img(src="https://foot-genie.com/images/empty.jpg")
          
        .score {{ game.score }}

        ng-container(*ngIf="game.teams[1]")
          a.team([routerLink]='["/team", game.teams[1].id]')
            img(src="https://tmssl.akamaized.net/{{game.teams[1].preview }}")
        ng-container(*ngIf="!game.teams[1]")
          .team
            img(src="https://foot-genie.com/images/empty.jpg")
        
        .info
          small.date {{ formatDateISO(game.date) | date | uppercase }} - {{ game.league.name }}
          div
            a(*ngIf="game.teams[0]", [routerLink]='["/team", game.teams[0].id]') {{ game.teams[0].name }}
            |  — 
            a(*ngIf="game.teams[1]", [routerLink]='["/team", game.teams[1].id]') {{ game.teams[1].name }}
        .duration {{ game.duration }}'
      
      .not-found(*ngIf="(lastestGames$ | async)?.length == 0")
        mat-icon error_outline
        div No games found
      ng-template(*ngIf="lastestGames$ | async; else lastestGamesLoading")
      ng-template(#lastestGamesLoading)
        mat-spinner

  .grid-row
    .grid-column
      h2 Latest transfers
      .player.transfers(*ngFor="let transfer of lastestTransfers$ | async")
        a.avatar([routerLink]="['/player', transfer.player.id]")
          img(src="https://tmssl.akamaized.net/{{ transfer.player.avatar }}")
        a.name([routerLink]="['/player', transfer.player.id]") {{ (transfer.player.first_name || "") + " " + transfer.player.last_name }}
        .transfer
          small.date {{ formatDateISO(transfer.date) | date | uppercase }}
          .name
            a(*ngIf="transfer.left_team", [routerLink]='["/team", transfer.left_team.id]') {{ transfer.left_team.name }}
            | >>>
            a(*ngIf="transfer.join_team", [routerLink]='["/team", transfer.join_team.id]') {{ transfer.join_team.name }}
            //{{ transfer.left_team?.name }} >>> {{ transfer.join_team?.name }}
        .mv(title="transfer.mv") 
          ng-container(*ngIf="transfer.mv > 0") mv: £{{ transfer.mv  | short_number}}
          ng-container(*ngIf="!transfer.mv") -
        .fee {{ transfer.fee_description }}

      .not-found(*ngIf="(lastestTransfers$ | async)?.length == 0")
        mat-icon error_outline
        div No transfers found
      ng-template(*ngIf="lastestTransfers$ | async; else lastestTransfersLoading")
      ng-template(#lastestTransfersLoading)
        mat-spinner